<section class="clean-block clean-catalog dark">
<div class="container">
  <div class="block-heading">
    <h2 class="text-info">Member businesses</h2>
  </div>

  <div class="content">
    <div class="products pl-5 card-grid-3c">
      <% @businesses.each do |business| %>
        <div>
          <%= link_to business_path(business.id) do %>
          <%= business.name %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</section>
