<div class="viewport-wrapper">
 <div class="container">
  <div class="pb-2 px-4 pt-3">
     <h1>Add a partner</h1>
     <p>Select the business whose customer you want to give perks to:</p>

    <%= form_with(url: filter_business_connection_path, method: :get, id: 'business-select', class: 'form-group') do |f| %>

      <%= select_tag(:business_id, options_from_collection_for_select(Business.all, :id, :name ), class: 'form-control-lg w-100')%>
    <% end %>
  </div>
</div>

<div id="products"></div>

<h1><%=  %></h1>
 <script>
  const selects = document.querySelector('#business-select select');

  document.addEventListener("DOMContentLoaded", () => {
    selects.value = <%= params[:bid] %>
    Rails.fire(document.querySelector('#business-select'), "submit" )
  });
  selects.addEventListener("change", () => {
    // this is not working... why?
    console.log(document.location.search)
    Rails.fire(document.querySelector('#business-select'), "submit" )
  })
 </script>
