.edit-button {
  float: right;
}
// Specific CSS for your home-page

body {
  max-width: 480px;
  margin: auto;
  background-color: black;
}

.mobile-viewport-container{
  background-color: white;
  height: calc(100vh - 126px);
  overflow: scroll;
}

.stick {
  position: sticky; top: 0;
  background-color: white;
}

.user-profile-header{
  padding: 10px;
}

.page-header{
  padding: 10px 16px 10px 16px;
}

.colourred{
  display: none;
}
