<div class="footer mt-auto">
    <div class="footer-item"><%= link_to 'Discover', root_path %></div>
    <div class="footer-item">Scan</div>
    <div class="footer-item"><%= link_to "Profile", dashboard_page_path %></div>
</div>

