<div class="footer mt-auto">
    <div ><%= link_to 'Discover', root_path %></div>
    <div><%= link_to "Scan (Business Dash)", business_dashboard_path %></div>
    <div><%= link_to "Profile", dashboard_page_path %></div>
</div>
