<div>
  <h1>Hi! <%= @user.first_name %></h1>
  <%= link_to 'Edit', edit_user_path(current_user) %>
</div>

<br>

<ul class="nav nav-tabs nav-pills nav-fill stick">
  <li class="nav-item">
    <a class="nav-link" href="#">Savings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Perks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Purchases</a>
  </li>
</ul>

<% 10.times do %>

  <% @user.all_perks.each do |perk| %>
      <%= render partial: 'shared/perk_card', locals: {perk: perk} %>
  <% end %>

<% end %>

</div>

