.footer{
  padding: 5px;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
}

.footer > div > a {
  text-decoration: none;
  color: grey;
  font-size: 30px;
}

.footer > div > a:hover {
  text-decoration: none;
  color: red;
  font-weight: bold;
}

.footer-nav-icon{
  height: 35px;
}
