.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.map-show {
  height: 100%;
  width: 500px;
}

#nav-map{
  width: 100%;
  height: calc(100vh - 227px)
}
