.perk-card {
  border: 1px solid grey;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
  background-color: #F7F7F7;

}

.discounted-initial-price {
  text-decoration: line-through;
  color: red;
  font-weight: red;
}
