<div class="card-product">
  <div class="photo">
    <p><%= product.photo %></p>
  </div>
  <div class="card-product-infos">
    <h2><%= link_to product.name, business_products_path %></h2>
    <p class="mb-0"><strong> <%= product.description %></strong></p>
    <p><%= product.price_cents %></p>
  </div>
